<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
</head>
<body>
    <h1>Header</h1>
    <hr />
    
    {{!-- 
    This is a handlebars comment and
    code below outputs HTML from 
    res.render in server.js file
    --}}
    {{{body}}}
    
    <h1>Footer</h1>
</body>
</html>